In [19]:
import numpy as np
import pandas as pd

In [20]:
from google.colab import files
uploaded = files.upload()

Saving TESLA.csv to TESLA (1).csv

In [21]:
import io
df = pd.read_csv(io.BytesIO(uploaded['TESLA.csv']))

In [22]:
df.head()

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [23]:
df

            Date        Open        High  ...       Close   Adj Close    Volume
0     2010-06-29   19.000000   25.000000  ...   23.889999   23.889999  18766300
1     2010-06-30   25.790001   30.420000  ...   23.830000   23.830000  17187100
2     2010-07-01   25.000000   25.920000  ...   21.959999   21.959999   8218800
3     2010-07-02   23.000000   23.100000  ...   19.200001   19.200001   5139800
4     2010-07-06   20.000000   20.000000  ...   16.110001   16.110001   6866900
...          ...         ...         ...  ...         ...         ...       ...
2411  2020-01-28  568.489990  576.809998  ...  566.900024  566.900024  11788500
2412  2020-01-29  575.690002  589.799988  ...  580.989990  580.989990  17801500
2413  2020-01-30  632.419983  650.880005  ...  640.809998  640.809998  29005700
2414  2020-01-31  640.000000  653.000000  ...  650.570007  650.570007  15719300
2415  2020-02-03  673.690002  786.140015  ...  780.000000  780.000000  47065000

[2416 rows x 7 columns]

In [24]:
new_df = df.iloc[: , 1:2].values

new_df

array([[ 19.      ],
       [ 25.790001],
       [ 25.      ],
       ...,
       [632.419983],
       [640.      ],
       [673.690002]])

In [25]:
new_df.shape

(2416, 1)

In [26]:
train = new_df[:2000]
test = new_df[2000:]

In [27]:
train = pd.DataFrame(train, columns=['Open'])
train

            Open
0      19.000000
1      25.790001
2      25.000000
3      23.000000
4      20.000000
...          ...
1995  285.859985
1996  294.339996
1997  297.700012
1998  300.500000
1999  316.149994

[2000 rows x 1 columns]

In [28]:
test = pd.DataFrame(test, columns=['Open'])
test

           Open
0    319.000000
1    322.510010
2    344.700012
3    346.709991
4    347.630005
..          ...
411  568.489990
412  575.690002
413  632.419983
414  640.000000
415  673.690002

[416 rows x 1 columns]

In [29]:
train.to_csv('train.csv')
test.to_csv('test.csv')